<div class="col-lg-3">

    <h1 class="my-4">Shop Name</h1>
    <div >
        <!-- bill -->
        <div style="width: 322px; ">
            <div>ĐƠN HÀNG CỦA BẠN</div>
            <hr>
            <ul id='order-list'>
            </ul>
            <hr>
            <div>Tạm tính <span id='total'>0</span></div>
            <a href="/checkout" class='btn btn-primary'>Thanh toán</a>
          </div>
          <!-- bill -->
    </div>
</div>